<div class="detailed-view">
  <div class="js-game-name"/>
  <div class="js-game-description"/>
  <div class="js-game-platforms"/>
  <div>
    <a href="#" class="js-back">Back</a>
  </div>
  <img class="js-game-image"/>
</div>
